.background-login{
	background-color: antiquewhite;
}


.custom-img-height {
	height: 580px;
	width: 500px;
  }
.img-container{
	padding: 0px;
	margin: 0px;
}
  input::placeholder{
	color: #9ea0a3 !important;
  }
  .icon-container{
	padding-left: 10px;
	padding-right: auto !important;
  }
  .input-border {
    border-right: none !important;
    border-left: 1px solid #a0a1a2;
    border-radius: 0 !important;
	border-top: none !important;
	border-bottom: none !important;
}
.input-border:focus {
    outline: none;
    box-shadow: none !important;
}
.checkbox-shadow:focus {
    outline: none;
    box-shadow: none !important;
}

.div-row{
	margin: 40px;
}

.class-border{
	border:1px solid #a0a1a2 ;
	border-radius: 5px !important;
	background-color: white;
}
.remember-me{
	color: rgba(0, 0, 255, 0.622);
}
.remember-me:hover{
	color:rgb(0, 0, 95);
}
.social-login {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.social-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.social-button i {
    margin-right: 10px;
}

.social-button span {
    flex-grow: 1;
    text-align: center;
}


.facebook-login {
    background-color: #1877f2;
    color: white;
}

.google-login {
    background-color: #dd4b39;
    color: white;
}

.twitter-login {
    background-color:#1DA1F2;
    color: white;
}
.login-button{
	width: 120px !important;
	box-shadow: inset 0 0 5px rgba(10, 10, 71, 0.259);
    cursor: pointer;
	background-color: #0055c3;
	color: #ffffff;
	font-weight: 500;
	font-size: 18px !important;
}
.login-button:hover{
	box-shadow: inset 0 0 20px rgba(10,10,71,0.5);
	background-color: #053f8b;
	color: #ffffff;
	
}


.divider {
    display: flex;
    align-items: center;
    text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
  }
  .divider::before, .divider::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid black;
  }
  .or {
    padding: 0 10px;
  }